[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/SyamiliV
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SyamiliV
	label-Verified = -1..+1 group user/SyamiliV
	push = group user/SyamiliV
	read = group user/SyamiliV
	rebase = group user/SyamiliV
	removeReviewer = group user/SyamiliV
	submit = group user/SyamiliV
[access "refs/heads/*"]
	create = group user/SyamiliV
	push = +force group user/SyamiliV
	pushMerge = group user/SyamiliV
	read = group user/SyamiliV
[access "refs/tags/*"]
	push = group user/SyamiliV
	push = +force group user/SyamiliV
